.App {
  text-align: center;
}

@keyframes flipIn {
  0% {
    transform: rotateX(-90deg);
    opacity: 0;
  }
  100% {
    transform: rotateX(0);
    opacity: 1;
  }
}

@keyframes flipOut {
  0% {
    transform: rotateX(0);
    opacity: 1;
  }
  100% {
    transform: rotateX(90deg);
    opacity: 0;
  }
}

.flip-container {
  perspective: 1000px;
  position: relative;
  height: 100%;
}

.flip-content {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: transform 1s, opacity 1s;
}

.flip-content.flipping-out {
  animation: flipOut 1s forwards;
}

.flip-content.flipping-in {
  animation: flipIn 1s forwards;
}
